<!DOCTYPE html>
<html>
	<head>	
		<title>Admin Login</title>
		<link href="{{url_for('static',filename='css/admin_login.css')}}" rel="stylesheet">
	</head>
	<body>
		<img src="{{url_for('static',filename='img/img.jpg')}}" width="200px" height="200px">
		<h1>Administrator Login</h1>
		<form action="/signin" method="POST">
			<table>
			<tr><td><label for="userid">Usermail</label></td><td><input id="userid" class="in" type="text" name="userid" required></td></tr>
			<tr><td><label for="password">Password</label></td><td><input id="password" class="in" type="password" name="pwd" required></td></tr>
			<tr><td></td><td><input class="bttn" type="submit" value="Submit"></td></tr>
			</table>
		</form>
	</body>
</html>