<!DOCTYPE html>  
<html>  
<head>  
    <title>CETPA Project</title>
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">
</head>  
<body>  
    <h1><i>Employee Management System</i></h1><br>
    <h2>Hi Admin, welcome to the website</h2>  
    <a href="/add">Add Employee</a><br><br>  
    <a href ="/view">List Records</a><br><br>  
    <a href="/delete">Delete Record</a><br><br>  
    <a href="/update">Update Record</a><br><br>
    <a href="/">Sign Out</a><br><br>  
</body>  
</html>  